<div class="heading">
 <h3>about us</h3>
 <p><a href="<%= home_path  %>">home</a> <span> / about</span></p>
</div>

<section class="about">

  <div class="row">

    <div class="image">
     <%= image_tag "about-img.svg" %>
   </div>

   <div class="content">
    <h3>why choose us?</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis non odit nihil, doloremque sunt aut placeat    culpa. Adipisci minima, neque necessitatibus incidunt nemo eveniet mollitia quis facere vel consectetur culpa?</p>
    <a href="<%= items_path %>" class="btn">our menu</a>
  </div>

</div>

</section>

<section class="steps">

  <h1 class="title">3 simple steps</h1>

  <div class="box-container">

    <div class="box">
      <%= image_tag "step-1.png" %>
      <h3>select food</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, hic.</p>
    </div>

    <div class="box">
      <%= image_tag "step-2.png" %>
      <h3>30 minutes delivery</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, hic.</p>
    </div>

    <div class="box">
      <%= image_tag "step-3.png" %>
      <h3>enjoy food!</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, hic.</p>
    </div>

  </div>

</section>

<section class="reviews">

  <h1 class="title">customer's reviews</h1>

  <div class="swiper reviews-slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide">
        <%= image_tag "pic-6.png" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem ullam esse quia iusto in.</p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>john deo</h3>
      </div>

      <div class="swiper-slide slide">
        <%= image_tag "pic-6.png" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem ullam esse quia iusto in.</p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>john deo</h3>
      </div>

    </div>

    <div class="swiper-pagination"></div>

  </div>

</section>

<%= render 'items/footer' %>
