<div class = "title">
  <h1>list orders</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">placed on</th>
      <th scope="col">Items</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <% @orders.each_with_index do |order, index| %>
    <tbody>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= order.created_at %></td>
        <% order_items = OrderItem.where(order_id: order.id) %>
        <td><span>
            <% order_items.each do |order_item| %>
              <%= order_item.item.name %> 0<%= order_item.quantity %>
              (<%= order_item.total %>) -
            <% end %>
          </span></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order_path(order.id) %> /
          <%=link_to "Delete", delete_order_path(order.id),method: :delete if order.cancelled? %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<%= will_paginate @orders %>
