<div class="site-wrap">
  <nav class="site-nav">
    <div class="name-d" style="font-size: 18px">
      Food & Drinks 😋
    </div>
    <ul>
      <li class="active"><a href="#">Manage</a>
        <ul>
          <li><a href="<%= admin_manage_user_path %>">User</a></li>
          <li><a href="#">Review</a></li>
          <li><a href="#">Suggest</a></li>
        </ul>
      </li>
      <li><a href="<%= new_admin_item_path %>">Create Item</a></li>
      <li><a href="<%= items_path %>">Menu</a></li>
      <li><a href="<%= profile_path%>">Profile</a></li>
      <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <div class="note">
      <h3>Your Monthly Report</h3>
      <p>Get the info about all your deals, pros, cons. And build your roadmap.</p>
    </div>
  </nav>
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="tm-block-title" style="font-size: 22px">Welcome back, <b>Admin</b></p>
        </div>
      </div>
      <div id="notifications"></div>
      <!-- row -->
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
          <%= image_tag "tk1.png" %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
          <%= image_tag "tk2.png" %>
        </div>
      </div>
      <div class="row tm-content-row">
        <div class="col-12 tm-block-col dashboard-table">
          <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h2 class="tm-block-title" style="font-size: 20px">
              Orders List   (<%= link_to "Confirm All", admin_confirm_all_path , style:"color:#FF8C00"%>)</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Placed on</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Delivery Address</th>
                  <th scope="col">Items</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                  <th scope="col">
                    <a class='confirm-cancel' onclick="deleteOrders('confirm_multiple')"style="color:#FFA500;" >Confirm</a> /
                    <a class='confirm-cancel' onclick="deleteOrders('cancel_multiple')" style="color:#FFA500;">Cancel</a>
                  </th>
                </tr>
              </thead>
              <% @orders.each do |order| %>
                <tbody>
                  <tr>
                    <td><%= order.created_at %></td>
                    <td><%= order.user_name %></td>
                    <td><%= order.user_phone %></td>
                    <td><%= order.user_delivery_address %></td>
                    <% order_items = OrderItem.where(order_id: order.id) %>
                    <td><span>
                        <% order_items.each do |order_item| %>
                          <%= order_item.item.name %> 0<%= order_item.quantity %>
                          (<%= order_item.total %>) -
                        <% end %>
                      </span></td>
                    <td>
                      <div class="tm-status-circle pending"></div>
                      <%= order.status %></td>
                    <td>
                      <%= link_to "Confirm", admin_confirm_order_path(order.id), style:"color:#FFD700"%> /
                      <%= link_to "Cancel", admin_cancel_order_path(order.id), style:"color:#FFD700" %>
                    </td>
                    <td>
                      <input type="checkbox" class="order-checkbox" data-order_id='<%= order.id %>'>
                    </td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    <%= render 'dashboard.js' %>
  </script>
