<div class="site-wrap">
  <nav class="site-nav">
    <div class="name-d" style="font-size: 18px">
      Food & Drinks 😋
    </div>
    <ul>
      <li class="active"><a href="#">Manage</a>
        <ul>
          <li><a href="<%= admin_manage_user_path %>">User</a></li>
          <li><a href="<%= admin_list_order_path %>">List Order</a></li>
          <li><a href="#">Suggest</a></li>
        </ul>
      </li>
      <li><a href="<%= new_admin_item_path %>">Create Item</a></li>
      <li><a href="<%= items_path %>">Menu</a></li>
      <li><a href="<%= profile_path%>">Profile</a></li>
      <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <div class="note">
      <h3>Your Monthly Report</h3>
      <p>Get the info about all your deals, pros, cons. And build your roadmap.</p>
    </div>
  </nav>
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="tm-block-title" style="font-size: 22px">Welcome back, <b>Admin</b></p>
        </div>
      </div>
      <div id="notifications"></div>
      <!-- row -->
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
          <%= image_tag "tk1.png" %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
          <%= image_tag "tk2.png" %>
        </div>
      </div>
      <div class="row tm-content-row">
        <div id="orders_render_section">
          <% if @orders.any? %>
            <%= render 'dashboard_table', orders: @orders %>
          <% else %>
            <h2>No orders</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
    <%= render 'dashboard.js' %>
  </script>
