<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Create at</th>
      <th scope="col">Name</th>
      <th scope="col">Emai</th>
    </tr>
  </thead>

  <% @user.each_with_index do |user, index| %>
    <tbody>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= user.created_at %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Delete",registration_path(user),
        data: { confirm: "Are you sure?" }, method: :delete %></td>
    </tr>
    </tbody>
  <% end %>
</table>
