<div class="more-btn admin">
  <a href="<%= admin_confirm_all_path %>" class="confirm-btn">Confirm All</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">placed on</th>
      <th scope="col">Name</th>
      <th scope="col">Emai</th>
      <th scope="col">Phone</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Items</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col">
        <a class='confirm-cancel' onclick="deleteOrders('confirm_multiple')">Confirm</a> /
        <a class='confirm-cancel' onclick="deleteOrders('cancel_multiple')">Cancell</a>
      </th>
    </tr>
  </thead>
  <% @orders.each_with_index do |order, index| %>
    <tbody>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= order.created_at %></td>
        <td><%= order.user_name %></td>
        <td><%= order.user_email %></td>
        <td><%= order.user_phone %></td>
        <td><%= order.user_delivery_address %></td>
        <% order_items = OrderItem.where(order_id: order.id) %>
        <td><span>
            <% order_items.each do |order_item| %>
              <%= order_item.item.name %> 0<%= order_item.quantity %>
              (<%= order_item.total %>) -
            <% end %>
          </span></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to "Confirm", admin_confirm_order_path(order.id) %> /
          <%= link_to "Cancel", admin_cancel_order_path(order.id) %>
        </td>
        <td>
          <input type="checkbox" class="order-checkbox" data-order_id='<%= order.id %>'>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<%= will_paginate @orders %>
<script>
  let order_ids = [];
  $('.confirm-cancel').css("pointer-events", order_ids.length == 0 ? "none" : 'auto');

  function deleteOrders(action) {
    order_ids = [];
    var order_checkboxs = [].slice.call(document.getElementsByClassName('order-checkbox'));
    order_checkboxs.forEach(e => {
      if (e.checked) {
        order_ids.push($(e).data('order_id'));
      }
    });
    $.ajax({
      type: 'get',
      dataType: 'html',
      url: `/admin/${action}?order_ids=${order_ids}`
    });
    setTimeout(() => {
      window.location.reload();
    }, 50);
  }
  $('input.order-checkbox').click(function() {
  if ($(this).is(':checked')) {
    $('.confirm-cancel').css("pointer-events", 'auto');
  } else {
    $('.confirm-cancel').css("pointer-events", 'none');
  }
  });
</script>
