
<section class="products">

   <h1 class="title">latest dishes</h1>

   <div class="box-container">

    <% @items.each do |item| %>
      <form accept="" method="post" class="box">
         <a href="quick_view.html" class="fas fa-eye"></a>
         <button class="fas fa-shopping-cart" type="submit" name="add_to_cart">
          </button>
          <%= image_tag item.item_img.url(:item_index) %>

         <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
          </div>
          <div class="name"><%= item.name %></div>
         <div class="flex">
            <div class="price"><%= item.price %>.000đ</div>
            <input type="number" name="qty" class="qty" min="1" max="99" value="1"
             onkeypress="if(this.value.length == 2) return false;">
         </div>
      </form>
    <% end %>

   </div>
</section>

<p><%= will_paginate @items %></p>
 <%= render 'footer' %>
