<div class="row">

  <div class="col-md-8">
    <div class="item-info">
      <%= image_tag @item.item_img.url(:item_index)%>
      <h2 class="item-name"><%= @item.name %></h2>
      <p class="item-desc"><%= @item.description %></p>
      <h3 class="item-price"><span>Giá</span> <%= @item.price %></h3>
    </div>
 </div>

</div>

<div class="row">
  <% if user_signed_in? && current_user.admin %>
  <div class="links btn-group">

    <%= link_to "Back", root_path, class: "btn btn-custom" %>
    <%= link_to "Edit", edit_admin_item_path(@item), class: "btn btn-custom" %>
    <%= link_to "Delete", admin_item_path(@item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
  </div>
  <% end %>
</div>
