<div class="row">
  <div class="col-md-8">
    <div class="item-info">
      <%= image_tag @item.image if @item.image.attached? %>
      <div style="flex:1; padding-left: 50px">
        <h3><%= @item.name %></h3>
        <p class="item-desc">
          <h4>Description:</h4>
          <p style="font-size: 17px; text-align: justify">
            <%= @item.description %></p>
        </p>
        <h2 style="color:red;"><%= @item.price %>$</h4>
        <br>
        <%= social_share_button_tag(@item.name) %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? && current_user.admin %>
      <div class="links btn-group">
        <%= link_to "Back", root_path, class: "btn btn-custom" %>
        <%= link_to "Edit", edit_admin_item_path(@item), class: "btn btn-custom" %>
        <% unless OrderItem.exists?(item_id: @item) %>
          <%= link_to "Delete", admin_item_path(@item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
        <% end %>
      </div>
    <% end %>
  </div>
