<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' %>
  <%= stylesheet_link_tag 'application', 'https://unpkg.com/swiper@8/swiper-bundle.min.css' %>
</head>

<body>
 <header class="header">

   <section class="flex">

      <a href="home.html" class="logo">Food & Drinks 😋</a>

      <nav class="navbar">
         <a href="<%=  home_path %>">home</a>
         <a href="#">about</a>
         <a href="#">menu</a>
         <a href="#">orders</a>
         <a href="#">contact</a>
      <% if user_signed_in? %>
         <a><%= link_to "logout", destroy_user_session_path, method: :delete %></a>
      <% else %>
         <a><%= link_to "login", new_user_session_path %></a>
      <% end %>
      </nav>

      <div class="icons">
         <a href="search.html"><i class="fas fa-search"></i></a>
         <a href="cart.html"><i class="fas fa-shopping-cart"></i><span>(3)</span></a>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="menu-btn" class="fas fa-bars"></div>
      </div>

      <div class="profile">
         <p class="name">shaikh anas</p>
         <div class="flex">
            <a href="profile.html" class="btn">profile</a>
            <a href="#" class="delete-btn">logout</a>
         </div>
         <p class="account"><a href="login.html">login</a> or <a href="register.html">register</a></p>
      </div>

   </section>

</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>
</body>
</html>
